@import url('https://fonts.googleapis.com/css?family=Satisfy')

.mobile-header
  display: flex
  padding: 15px 0
  margin: 0 15px

.burger-menu
  background: #be0c41f0

.menu__overlay
  transform: none !important

.bm-burger-button
  width: 30px
  position: absolute
  top: 15px
  left: 15px
  color: $cream

.mobile-header__menu
  a
    display: inline-block
    width: 20px
    height: 20px
    background: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/bars.svg')
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: contain

.mobile-header__logo
  flex: 1
  text-align: right
  font-family: 'Satisfy', cursive

  a
    font-size: 24px
    text-decoration: none
    color: $cream
